html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
}

h4{
    margin: 1.5em 1em 1em;
    /* background-color: #1F2937; */
}

.container{
    max-width: 500px;
    min-width: 300px;
    margin: 0 auto;
    /* background-color: #1F2937; */
    color: whitesmoke;
    height: 100%;
}

.form{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 1em;
}

.input-color{
    border: .5px solid #D1D5DB;
    border-radius: 0%;
    height: 35px;
}

.mode-options{
    /* background-color: #1F293A; */
    /* color: #D5D4D8; */
    padding: 0.5em;
    width: 50%;
    border: 1px solid #D1D5DB;
    border-radius: 5px;
}

button{
    /* background-color: #3D4B60; */
    /* color: whitesmoke; */
    border: none;
    border-radius: 6px;
    padding: 0 1em;
}


.color-scheme-container{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.color{
    height: 85%;
    margin: 0;
}

.column{
    height: 90%;
    grid-area: 1fr;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: #3D4B60;
}
